/*Adding style to existing content*/

body, h1, h2, h3, h4, h5, h6{
	font-family: 'Lora', serif;
}

body, html{
	height: 100%;
	color: #777;
	line-height: 1.8;
}
/*Creating a Parallax Effect*/
.img-1, .img-2, .img-3{
	opacity: 0.6;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/*First Image (Logo, Full Height)*/
.img-1{
	background-image: url("flag.jpg");
	min-height: 100%;
}

/*Second Image (Portfolio)*/
.img-2{
	background-image: url(code_portfolio.jpg);
	min-height: 400px;
}

/*Third Image (Contact)*/
.img-3{
	background-image: url(contact_1.jpg);
	min-height: 400px;
}

.w3-hover-opacity{ cursor: pointer; }

/*Google Map Dataa*/
#googleMap{
	width: 100%;
	height: 400px;
	-webkit-filter:grayscale(90%);
	filter: grayscale(90%);
}

/*Turn off parallax scrolling for tablets and mobiles*/
@media only screen and (max-width: 1024px){
	.img-1, .img-2, .img-3{
		background-attachment: scroll;
	}
}